@import "../common.scss";
@import "../icon.scss";
@import "../dialog.scss";
.header {
    height: 50px;
    width: 100%;
    line-height: 50px;
    background: #fff;
    box-shadow: 6px 0px 6px#bbbbbb;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    .left-header {
        flex: 1;
    }
    .right-header {
        flex: 1;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        align-items: center;
        .version {
            width: 18px;
            padding: 0 15px;
            border-left: 1px solid #eeeeee;
            .version-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                cursor: pointer;
                background: url('/images/public/version-icon.png') no-repeat center center;
            }
            &:hover,
            &:active {
                background-color: #eeeeee;
            }
        }
        .version-info {
            position: absolute;
            top: 50px;
            right: 220px;
            z-index: 9999;
            width: 373px;
            // height: 220px;
            background-color: #ffffff;
            box-shadow: 0px 4px 5px 0px rgba(191, 192, 194, 0.3);
            border: solid 1px #e5e5e5;
            padding: 0 22px 30px 22px;
            .info-title {
                text-align: center;
                padding: 20px 0 10px 0;
                height: 17px;
                line-height: 17px;
                span {
                    font-family: DIN-Medium;
                    font-size: 16px;
                    font-weight: normal;
                    letter-spacing: 0px;
                    color: #111111;
                }
            }
            .info-sub-title {
                font-family: DIN-Medium;
                font-size: 14px;
                font-weight: normal;
                letter-spacing: 0px;
                color: #666666;
                height: 14px;
                line-height: 14px;
                padding-bottom: 20px;
                text-align: center;
            }
            .info-split {
                height: 1px;
                background-color: #e5e5e5;
            }
            .info-content {
                margin-top: 20px;
                .warn-icon i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url('/images/public/warn-icon.png') no-repeat center center;
                    margin-top: 2px
                }
                .warn-text {
                    font-family: MicrosoftYaHei;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #888888;
                    margin-left: 8px;
                }
            }
            .info-copy {
                margin-top: 16px;
                margin-bottom: 30px;
                .copyright-icon i {
                    display: block;
                    width: 16px;
                    height: 16px;
                    background: url('/images/public/copyright-icon.png') no-repeat center center;
                    margin-top: 2px
                }
                .copyright-text {
                    font-family: MicrosoftYaHei;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    line-height: 20px;
                    letter-spacing: 0px;
                    color: #888888;
                    margin-left: 8px;
                }
            }
        }
        .full-screen {
            width: 18px;
            padding: 0 15px;
            border-left: 1px solid #eeeeee;
            &:hover,
            &:active {
                background-color: #eeeeee;
            }
            .full-screen-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                background: url('/images/public/full-screen-icon.png') no-repeat center center;
                cursor: pointer;
            }
        }
        .feedback-wrap {
            width: 18px;
            padding: 0 15px;
            border-left: 1px solid #eeeeee;
            &:hover,
            &:active {
                background-color: #eeeeee;
            }
            .feedback-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                background: url('/images/public/feedback-icon.png') no-repeat center center;
                cursor: pointer;
            }
        }
        .help-wrap {
            width: 18px;
            padding: 0 15px;
            border-left: 1px solid #eeeeee;
            &:hover,
            &:active {
                background-color: #eeeeee;
            }
            .help-icon {
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: middle;
                background: url('/images/public/help-icon.png') no-repeat center center;
                cursor: pointer;
            }
        }
        .user-wrap {
            padding: 0 15px;
            border-left: 1px solid #eeeeee;
            cursor: pointer;
            &:hover,
            &:active {
                background-color: #eeeeee;
            }
            .user-icon {
                width: 26px;
                height: 26px;
            }
            .user-name {
                color: #333333;
                font-family: MicrosoftYaHei;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                margin-left: 12px;
            }
            .arrow-down {
                width: 10px;
                height: 10px;
                margin-left: 9px;
                background: url('/images/public/arrow-down.png') no-repeat center center;
            }
        }
        .user-menu {
            position: absolute;
            top: 50px;
            right: 0px;
            z-index: 9999;
            width: 162px;
            //  height: 73px;
            background-color: #ffffff;
            box-shadow: 0px 4px 5px 0px rgba(191, 192, 194, 0.3);
            border: solid 1px #e5e5e5;
            padding-top: 6px;
            padding-bottom: 3px;
            .menu-item {
                height: 36px;
                line-height: 36px;
                font-family: MicrosoftYaHei;
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                line-height: 0px;
                letter-spacing: 0px;
                color: #333333;
                background-color: #ffffff;
                align-items: center;
                padding-left: 20px;
                cursor: pointer;
                &:hover {
                    background-color: #ecedef;
                }
                &>span {
                    display: inline-block;
                }
                .ic_user {
                    width: 16px;
                    height: 16px;
                    margin: 1px 12px 0 0;
                    background: url('/images/public/user-icon.png') no-repeat center center;
                }
                .ic_logout {
                    width: 16px;
                    height: 16px;
                    margin: 1px 12px 0 0;
                    background: url('/images/public/logout-icon.png') no-repeat center center;
                }
                &.active {
                    background-color: #ecedef;
                }
            }
        }
    }
}

.user-info-win {
    width: 556px;
    height: auto;
    .md-content {
        background-color: #ffffff;
        .cont-box {
            padding: 0 30px 20px 30px;
            .user-info-content {
                .baseInfo {
                    padding: 30px 0;
                    border-bottom: 1px solid #e5e5e5;
                    .leftContent {
                        width: 80px;
                        img {
                            width: 80px;
                            height: 80px;
                        }
                    }
                    .rightContent {
                        flex: 1;
                        padding-left: 30px;
                        .info-wrap {
                            width: 100%;
                            height: 100%;
                            flex-wrap: wrap;
                            .item {
                                width: 50%;
                                height: 26px;
                                line-height: 26px;
                                font-family: MicrosoftYaHei;
                                font-size: 13px;
                                font-weight: normal;
                                font-stretch: normal;
                                letter-spacing: 0px;
                                overflow: hidden;
                                &.time {
                                    width: 100%;
                                }
                                .name {
                                    color: #999999;
                                }
                                .value {
                                    color: #333333;
                                }
                            }
                        }
                    }
                }
                .info-row {
                    height: 60px;
                    line-height: 60px;
                    font-family: MicrosoftYaHei;
                    font-size: 13px;
                    font-weight: normal;
                    font-stretch: normal;
                    letter-spacing: 0px;
                    margin-top: 20px;
                    &.oldpasswd {
                        margin-top: 30px;
                    }
                    .name {
                        line-height: 28px;
                        color: #666666;
                    }
                    .value {
                        height: 36px;
                        line-height: 36px;
                        font-size: 14px !important;
                    }
                }
            }
        }
    }
}

.feedback-win {
    width: 800px;
    height: auto;
    max-height: 700px;
    overflow: hidden;
    .md-content {
        max-height: 700px;
        background-color: #ffffff;
        overflow: hidden;
        .cont-box {
            padding: 0px 30px 20px 30px;
            overflow-x: hidden;
            overflow-y: auto;
            .feedback-content {
                .row {
                    height: 36px;
                    line-height: 36px;
                    margin-top: 20px;
                    &.desc {
                        height: auto;
                    }
                    .name {
                        font-family: MicrosoftYaHei;
                        font-size: 14px;
                        font-weight: normal;
                        font-stretch: normal;
                        letter-spacing: 0px;
                        color: #666666;
                    }
                    .value {
                        width: 497px;
                        padding-left: 30px;
                    }
                }
            }
        }
    }
}